.about {
  background-image: url("../../assets/bgfmd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(41, 40, 40);
  text-align: center;

}

.about-content h2 {
  font-size: 70px;
  margin-bottom:0px;
  padding-bottom: 10px;
  font-family: gabriola;
}

.about-content h1 {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-top: 5px;
  font-family: gabriola;
}